@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin description {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
}
@mixin img {
  width: 100%;
  height: 50%;
  padding: 1rem;
}
