@use './mixins' as *;

$boxing-container: #3c566a;
$kids-container: #5e6a69;
$kick-boxing-container: #64666e;
$primary-color: #e8120a;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Noto Serif Display', serif;
  color: #545454;
  letter-spacing: 2px;
  background-color: #fffdfd;
}

header {
  @include flexCenter;
  margin: 0 auto;
}
.header-img {
  width: 100%;
}
.about-section {
  @include flexCenter;
  flex-direction: column;
  margin: 0 auto;
  padding: 20px;
  width: 100%;
  max-width: 850px;
}
.about-letter,
.class-letter {
  color: red;
}

h1,
h2 {
  padding-bottom: 1rem;
}

.class-section,
.kids-class-section,
.kick-boxing-class-section {
  @include flexCenter;
  text-align: center;
  flex-direction: column;
  padding-top: 10rem;
}
.class-list {
  text-align: left;
  padding: 2rem;
}
.class-list-container {
  padding-bottom: 10rem;
}
li {
  padding: 1rem 0;
}
.class-adult-img {
  @include img;
  max-width: 600px;
  background-color: $boxing-container;
}
.class-description {
  max-width: 850px;
}
.boxing-adult {
  @include flexCenter;
  flex-direction: column;
  background-color: $boxing-container;
}

.boxing-class-title {
  padding: 2rem;
}
.boxing-description {
  background-color: $boxing-container;
  color: #fffdfd;
  width: 100%;
  max-width: 500px;
  padding: 2rem;
  line-height: 2;
}

.list-boxing-description {
  @include description;
  background-color: $boxing-container;
}
.boxing-date {
  background-color: $boxing-container;
  color: #fffdfd;
  padding-bottom: 2rem;
}
/*kids*/
.kids-class-section {
  @include flexCenter;
  flex-direction: column;
  padding-top: 5rem;
}
.kids-boxing {
  @include flexCenter;
  flex-direction: column;
  background-color: $kids-container;
}

.kids-class-img {
  @include img;
  padding: 2rem;
  max-width: 600px;
  background-color: $kids-container;
}

.kids-description {
  background-color: $kids-container;
  color: #fffdfd;
  width: 100%;
  max-width: 500px;
  padding: 1rem;
  line-height: 2;
}

.kids-description-list {
  @include description;
  background-color: $kids-container;
}
.kids-date {
  background-color: $kids-container;
  color: #fffdfd;
  padding: 0.3rem;
}
/*kick-boxing */
.kick-boxing {
  @include flexCenter;
  flex-direction: column;
  background-color: $kick-boxing-container;
}
.kick-boxing-img {
  @include img;
  padding: 2rem;
  max-width: 600px;
  background-color: $kick-boxing-container;
}
.kick-boxing-description {
  background-color: $kick-boxing-container;
  color: #fffdfd;
  width: 100%;
  max-width: 500px;
  padding: 1.5rem;
  line-height: 2;
}
.kick-boxing-description-list {
  @include description;
  background-color: $kick-boxing-container;
}
.kick-boxing-date {
  color: #fffdfd;
  background-color: $kick-boxing-container;
  padding: 0.5rem;
}

/*Staff*/
.staff-section {
  @include flexCenter;
  flex-direction: column;
  padding-top: 10rem;
  padding-bottom: 10rem;
}
.staff {
  @include flexCenter;
  flex-direction: column;
}
.staff-img {
  padding: 2rem;
  width: 100%;
  max-width: 500px;
  height: 500px;
  margin: 0 auto;
}
.staff-description {
  text-align: center;
  padding: 2rem;
}
.price-section {
  @include flexCenter;
  flex-direction: column;
  text-align: center;

  margin: 0 auto;
}

/*Price*/
.price-box {
  @include flexCenter;
  flex-direction: column;
  padding: 20px;
  width: 100%;
  max-width: 500px;
}
.price-box-item {
  border: 1px #ededed solid;
  padding: 2rem;
  width: 100%;
  height: 200px;
}
.price-box-item-detail {
  padding: 0.5rem;
}

/*Access section*/
.access-section {
  @include flexCenter;
  flex-direction: column;
}
.map {
  width: 100%;
  height: 500px;
  padding: 20px;
  margin: 0 auto;
}

.access-table {
  @include flexCenter;
}
.access {
  @include flexCenter;
  flex-direction: column;
}
.access-table-body {
  padding: 1.5rem;
}
.access-table-name {
  color: $primary-color;
  text-align: center;
}
.access-table-right {
  padding: 1rem;
  width: 130px;
}
/*Footer*/
footer {
  @include flexCenter;
  padding: 1rem;
  flex-direction: column;
  background-color: $primary-color;
}
.footer-name {
  background-color: $primary-color;
  color: #fffdfd;
}

.footer-sns {
  @include flexCenter;
  gap: 2rem;
  background-color: $primary-color;
  padding-top: 0.5rem;
}
.instagram-icon,
.facebook-icon {
  background: none;
  font-size: 25px;
}
.instagram-icon svg,
.facebook-icon svg {
  fill: #fff;
  background-color: $primary-color;
}

@media (min-width: 768px) {
  .price-box {
    flex-direction: row;
    max-width: 800px;
  }
  .access {
    flex-direction: row;
  }
}
@media (min-width: 1068px) {
  .header-img {
    width: 100%;
    max-width: 1200px;
  }
  .boxing-adult,
  .kick-boxing,
  .staff {
    flex-direction: row;
  }
  .kids-boxing {
    flex-direction: row-reverse;
  }
}
